[alias]
	tags = tag -l
	branches = branch -a
	remotes = remote -v

	g = grep --break --heading --line-number

  # View abbreviated SHA, description, and history graph of the latest 20 commits  
 	l = log --pretty=oneline -n 20 --graph --abbrev-commit
  
  # View the current working tree status using the short format  
	s = status -s
  
  # Show the diff between the latest commit and the current state
	d = !"git diff-index --quiet HEAD -- || clear; git diff --patch-with-stat"
  
  # Clone a repository including all submodules
	c = clone --recursive

  # Amend the currently staged files to the latest commit
	amend = commit --amend --reuse-message=HEAD

  # Credit an author on the latest commit
	credit = "!f() { git commit --amend --author \"$1 <$2>\" -C HEAD; }; f"

  # List contributors with number of commits
	contributors = shortlog --summary --numbered

[commit]
	template = ~/.gitmessage

[user]
	name = Pierre-Alexandre St-Jean
	email = pa@stjean.me
	signingkey = pa@stjean.me

[push]
	default = simple

[grep]
	extendRegexp = true
	lineNumber = true

[color "diff"]
	meta = yellow bold
	commit = green bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = "red bold 52"
	newNormal = "green bold"
	newHighlight = "green bold 22"
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[help]
  # Automatically correct and execute mistyped commands
  	autocorrect = 1

[merge]
  # Include summaries of merged commits in newly created merge commit messages
	log = true
	tool = opendiff

[core]
  # Make `git rebase` safer on OS X
  # More info: <http://www.git-tower.com/blog/make-git-rebase-safe-on-osx/>
  	trustctime = false
	quotepath = false
	excludesfile = /Users/pastjean/.gitignore_global
	attributesfile = ~/.gitattributes
	# insanely beautiful diffs
	pager = diff-highlight | diff-so-fancy | less -r

[include]
	path = ~/.gitconfig.local

[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process

[interactive]
	diffFilter = diff-highlight

[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[fetch]
	prune = true
