[user]
	name = Pierre-Alexandre St-Jean
	email = pierrealexandre.stjean@gmail.com
[github]
  user = pastjean
[color]
  ui = auto
  branch = auto
  diff = auto
  interactive = auto
  status = auto
[diff]
  renamelimit = 0
[alias]
  tree = log --graph --oneline --decorate
  gl = log --color=always --all --graph --topo-order --pretty='format: %Cgreen%h%Creset %s%Cred%d%Creset%n'
  help = help -w
  aa = add --all
  amend = commit --amend
  co = checkout
  ci = commit
  di = diff
  dc = diff --cached
  st = status

[pack]
  threads = 0
[help]
  format = web
[core]
	excludesfile = /Users/pastjean/.gitignore_global
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Users/pastjean/Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
