# clearly makes git better
[user]
	name = Pierre-Alexandre St-Jean
	email = pa@stjean.me

[column]
        ui = auto
[branch]
        sort = -committerdate
[tag]
        sort = version:refname
[init]
        defaultBranch = main
[diff]
        algorithm = histogram
        colorMoved = plain
        mnemonicPrefix = true
        renames = true
[push]
        default = simple
        autoSetupRemote = true
        followTags = true
[fetch]
        prune = true
        pruneTags = true
        all = true

# why the hell not?

[help]
        autocorrect = prompt
[commit]
        verbose = true
		template = ~/.gitmessage

[rerere]
        enabled = true
        autoupdate = true
[core]
        excludesfile = ~/.gitignore
[rebase]
        autoSquash = true
        autoStash = true
        updateRefs = true

# a matter of taste (uncomment if you dare)

[core]
        # fsmonitor = true
        # untrackedCache = true
		# pager = diff-highlight | diff-so-fancy | less -r

[merge]
        # (just 'diff3' if git version < 2.3)
        conflictstyle = zdiff3 
[pull]
        rebase = true


### OLD

[alias]
	# tags = tag -l
	# branches = branch -a
	# remotes = remote -v

	# g = grep --break --heading --line-number

  # View abbreviated SHA, description, and history graph of the latest 20 commits  
 	# l = log --pretty=oneline -n 20 --graph --abbrev-commit
  
  # View the current working tree status using the short format  
	# s = status -s
  
  # Show the diff between the latest commit and the current state
	# d = !"git diff-index --quiet HEAD -- || clear; git diff --patch-with-stat"

  # Amend the currently staged files to the latest commit
	# amend = commit --amend --reuse-message=HEAD

  # Credit an author on the latest commit
	# credit = "!f() { git commit --amend --author \"$1 <$2>\" -C HEAD; }; f"

  # List contributors with number of commits
	# contributors = shortlog --summary --numbered

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
